<h1> Create a new figure!</h1>

<form method="POST" action="/figures"
<p>Figure Name: <input type="text" id="figure_name" name="figure[name]"></p>

<h2> Select titles and landmarks!</h3>

<p> Titles: <%Title.all.each do |title|%>
  <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
  <%end%></p>
<p> Landmarks:
  <%Landmark.all.each do |landmark|%>
  <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></input>
  <%end%></p>

  <h2>And/or create new titles and landmarks for your figure!</h2>
    <label>Title:</label>
      <input  type="text" id="new_title" name="title[name]"></input>
    <br></br>
    <label>Landmark:</label>
      <input  type="text" id="new_landmark" name="landmark[name]"></input>
    <br></br>

    <input type="submit" value="Create New Figure">
